REDIS_IMAGE=redis:7

# NOTE: to test on the same machine set the local network IP address e.g., 192.168.1.10
MASTER_IP=192.168.1.xx
MASTER_PORT=20001

REPLICA_IP=192.168.1.xx
REPLICA_PORT=20002

SENTINEL_FIRST_IP=192.168.1.xx
SENTINEL_FIRST_PORT=30001

SENTINEL_SECOND_IP=192.168.1.xx
SENTINEL_SECOND_PORT=30002

SENTINEL_THIRD_IP=192.168.1.xx
SENTINEL_THIRD_PORT=30003