REDIS_IMAGE=redis:7
MASTER_SERVICE_NAME=redis_ha

# NOTE: to test on the same machine set the local network IP address e.g., 192.168.1.10

SENTINEL_MONITOR_HOST=your_local_ip
SENTINEL_MONITOR_PORT=20001

HOST_ENV_IP=your_local_ip

MASTER_IP=your_local_ip
MASTER_PORT=20001

REPLICA_IP=your_local_ip
REPLICA_PORT=20002

SENTINEL_FIRST_IP=your_local_ip
SENTINEL_FIRST_PORT=30001

SENTINEL_SECOND_IP=your_local_ip
SENTINEL_SECOND_PORT=30002

SENTINEL_THIRD_IP=your_local_ip
SENTINEL_THIRD_PORT=30003